<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Wypożyczalnia samochodów</title>
</head>
<body>
<header>
    <h1>WYNAJEM SAMOCHODOW - witaj </h1>
    <ul><li><a href="logowanie.html" class="zalogujButton">Zaloguj</a></li></ul>
</header>
<nav>
    <ul>
        <li><a href="glowna.html">Home</a></li>
        <li><a href="wyszukaj.html">Oferta</a></li>
        <li><a href="kontakt.html">Kontakt</a></li>
        <li><a href="onas.html">O nas</a></li>
    </ul>
</nav>
<h2> Polecane:</h2>
<div class="galeria">
    <div class="slajd animacja">
        <img src="galery/img1.jpg" style="width:100%">
        <div class="opisImg">Samochód 1</div>
    </div>
    <div class="slajd animacja">
        <img src="galery/img2.jpg" style="width:100%">
        <div class="opisImg">Samochód 2</div>
    </div>
    <div class="slajd animacja">
        <img src="galery/img3.jpg" style="width:100%">
        <div class="opisImg">Samochód 3</div>
    </div>
</div>
<br>
<div class="kropka-container">
    <span class="kropka"></span>
    <span class="kropka"></span>
    <span class="kropka"></span>
</div>
<script> <!-- Skrypt do animacji galerii -->
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slajdy = document.getElementsByClassName("animacja");
        let kropki = document.getElementsByClassName("kropka");
        for (i = 0; i < slajdy.length; i++) {
            slajdy[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slajdy.length) {slideIndex = 1}
        for (i = 0; i < kropki.length; i++) {
            kropki[i].className = kropki[i].className.replace(" active", "");
        }
        slajdy[slideIndex-1].style.display = "block";
        kropki[slideIndex-1].className += " active";
        setTimeout(showSlides, 5000); //zmienia obraz co 5 sekund
    }
</script>
</body>
</html>