<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Wypożyczalnia samochodów</title>
</head>
<body>
<header>
    <h1>WYNAJEM SAMOCHODOW - witaj </h1>
    <ul><li><a href="logowanie.html" class="zalogujButton">Zaloguj</a></li></ul>
</header>
<nav>
    <ul>
        <li><a href="glowna.html">Home</a></li>
        <li><a href="wyszukaj.html">Oferta</a></li>
        <li><a href="kontakt.html">Kontakt</a></li>
        <li><a href="onas.html">O nas</a></li>
    </ul>
</nav>
</body>
</html>