<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Title</title>
</head>
<body>
<header>
    <h1>WYNAJEM SAMOCHODOW - witaj </h1>
    <li><a href="logowanie.html" class="zalogujButton">Zaloguj</a></li>
</header>
<nav>
    <ul>
        <li><a href="glowna.html">Home</a></li>
        <li><a href="wyszukaj.html">Oferta</a></li>
        <li><a href="kontakt.html">Kontakt</a></li>
        <li><a href="onas.html">O nas</a></li>
    </ul>
</nav>
<section class="kontakt">
    <h2>Kontakt</h2>
    <p><b>Adres:</b> ul. Przykładowa 12, 00-001 Miasto</p>
    <p><b>Telefon:</b>+48 123 456 789</p>
    <p><b>Email:</b> <a href="mailto:kontakt@przyklad.pl">kontakt@przyklad.pl</a></p>
    <p><b>Godziny otwarcia:</b> Pon-Pt: 9:00–18:00, Sob: 10:00–14:00</p>

    <h3>Znajdź nas na mapie!</h3>
    <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d643.6806092963748!2d15.528165657659722!3d51.94143143765182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470613cdf873f4c3%3A0x85285ab54bc7555c!2zQTIgLSBXeWR6acKtYcWCIEluZm9ywq1tYXR5a2ksIEVsZWvCrXRyb3RlY2jCrW5pa2kgaSBBdXRvbWF0eWtp!5e0!3m2!1spl!2spl!4v1764424902235!5m2!1spl!2spl"
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</section>
</body>
</html>