<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Title</title>
</head>
<body>
<header>
    <h1>WYNAJEM SAMOCHODOW - witaj </h1>
    <li><a href="logowanie.html" class="zalogujButton">Zaloguj</a></li>
</header>
<nav>
    <ul>
        <li><a href="glowna.html">Home</a></li>
        <li><a href="wyszukaj.html">Oferta</a></li>
        <li><a href="kontakt.html">Kontakt</a></li>
        <li><a href="onas.html">O nas</a></li>
    </ul>
</nav>
<div>
    <p>Witamy w świecie wygodnej i bezpiecznej mobilności!
        Specjalizujemy się w wynajmie samochodów, oferując szeroki wybór pojazdów – od kompaktowych aut miejskich, przez rodzinne sedany, aż po luksusowe SUV-y. Naszym celem jest zapewnienie Ci komfortu i niezawodności w każdej podróży.
        Dbamy o to, aby wszystkie nasze samochody były w doskonałym stanie technicznym, czyste i gotowe do drogi. Stawiamy na prosty proces wynajmu, elastyczne warunki oraz profesjonalną obsługę, aby każda podróż była przyjemnością – niezależnie od tego, czy potrzebujesz auta na weekend, wakacje czy w celach służbowych.
        Wierzymy, że wynajem samochodu to nie tylko usługa, ale doświadczenie. Chcemy, aby każdy klient czuł się pewnie i komfortowo, korzystając z naszych pojazdów. Zapraszamy do skorzystania z naszej oferty i przekonania się, jak łatwo można cieszyć się wolnością jazdy.
    </p>
</div>

</body>
</html>