*{
    margin: 0;
    padding: 0;
}

nav{ /* Blok nawigacyjny menu */
    text-align: center;
    height: 10%;
    margin-bottom: 50px;
}
nav ul{ /* Blok listy menu */
    float: none;
    list-style: none;
    display: inline-block;
    border: none;
}

nav ul li /* Element listy w menu */
{
    list-style: none;
    border: none;
    display: inline-block;
    white-space: nowrap;
    font-size: 20px;
    margin: 0 10px;
}

nav ul li a{ /* Link do strony w menu */
    border: 5px solid coral;
    border-radius: 10px;
    padding: 6px 20px;
    background-color: lightcoral;
}

nav ul li a:hover { /* Po najechaniu na przycisk w panelu nav powinnien zmienić kolor */
    color: red;
}

ul a:link, ul a:visited /* Nie widać odwiedzonych linków */
{
    list-style: none;
    width: 168px;
    text-decoration: none;
    color: black;
    padding: 4px;
}

.zalogujButton{ /* Przycisk zaloguj */
    display: block;
    float: right;
    border: solid 5px;
    border-color: darkred;
    background-color: #bf2c2c;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    border-radius: 10px;
}

a.zalogujButton:hover{ /* Przycisk zaloguj po najechaniu na niego */
    background-color: darkred;
    color: white;
}

.logowanie{ /* Formularz logowania*/
    display: flex;
    flex-direction: column;
    text-align: left;
    align: left;
}
.rejestracja{ /* Formularz rejestracji */
    display: flex;
    flex-direction: column;
    text-align: left;
    align: left;
}

a.regChk{
    text-decoration: none;
    color: mediumvioletred;
}

div input{
    display: block;
}
.kontakt{
    display: block;
}
iframe{ /* Mapa Google */
    align-content: center;
}
