<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>

    <style>
        .linki{
            background: #f0f0f0;
            margin: 20px 0;
        }

        a {
            display: block;
            margin: 10px 0;
            color: blue;
        }

        a:hover {
            color: red;
        }

    </style>
</head>
<body>
    <h1>Strona testowa wynajmu aut</h1>
    <p> testuje testuje</p>

    <div class="linki">
        <h2>testuje linki</h2>
        <a href="/">Strona Glowna</a>
        <a href="/onas">O Nas</a>
        <a href="kontakt">Kontakt</a>
        <a href="/logowanie">Logowanie</a>
    </div>

</body>
</html>